*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: aliceblue;
}
ul{
    text-decoration: none;
    list-style: none;
}
.pulsa{
    color: rgb(220, 20, 20);
    text-decoration: underline;
    font-weight: bold;
}
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;justify-content: space-between;
    padding: 20px;
    color: rgb(193, 209, 224);
}
.nav-links{
    display: flex;
    align-items: center;
}
.nav-links li{
    margin: 0 30px;
}
header{
    width: 100vw;
    height: 100vh;
    background-image: url('image/cielo.svg');
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor{
    margin-bottom: 150px;
    color: rgb(241, 240, 255);
    text-align: center;
}
.contenedor-h2{
    font-size: 4vmin;
}
.contenedor-h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.boton{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}
.section{
    width: 80%;
    margin: 80%;
    display: flex;
}
.titulo{
    text-align: center;
    font-size: 4vmin;
    color: rgb(166, 69, 129);
    padding: 60px 0;
    background-color: rgb(225, 220, 220);
}
.btn{
    padding: 3px 15px;
    background: rgb(143, 78, 35);
    border-radius: 9px;
    color: rgb(231, 238, 243);
    margin: 20px;
    /*font-weight: bold;*/
}
/*galeria*/
.contene{
    width: 90%;
    overflow: hidden;
    margin: auto;
}
.portafolio{
    background: rgb(29, 29, 30);
    padding: 60px 0;
}
.portafolio .portafolio-texto{
    text-align: center;
    margin-bottom: 60px ;
    color: rgb(204, 204, 225);
    font: size 30px; ;
}
.portafolio .galeria{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.portafolio .galeria .fotos{
    width: 30%;
    margin-bottom: 20px;
}
.portafolio .galeria .fotos .img{
    width: 100%;
    height: 210%;
    /*height: 410px;*/
    border-radius: 5px;
}
/*contact*/
.contacto-contenido{
    height: 600px;
    background-image: url('image/review.svg');
    background-size: cover;
    background-position: center;
    padding: 60px 0;
}
.texto-contenido{
    text-align: center;
    color: rgb(167, 110, 10);
    font-size: 25px;
}
.texto-contenido p{
    font-size: 30px;
    margin: 15px 0 30px 0;
    color: rgb(137, 88, 25);
}
form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
}
.contacto-contenido input[type="text"], .contacto input[type="email"],
.contacto textarea{
    width: 100%;
    margin: 5px 0;
    padding: 15px 20px;
    background: none;
    border-radius: 5px;
    color: rgb(194, 105, 10);
    border: 3px solid rgb(109, 63, 5);
    font-family: 'lato';
    font-weight: 300;
} 
.contacto textarea{
    height: 150px;
    max-height: 150px;
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
}
.derecha{
    display: flex;
    justify-content: flex-end;
}
.contacto-contenido input[type="submit"]{
    display: block;
    width: 100px;
    margin: 10px 0;
    padding: 10px 15px;
    background: none;
    border: 1px solid #904212;
    border-radius: 5px;
    color: rgb(168, 116, 10);
    cursor: pointer;
    float: right;
}
.contacto-contenido input[type="submit"]:hover{
    background: #634a05;
    color: rgb(222, 117, 12);
}
.caja{
    background-color: black;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}
.caja p{
    color: aliceblue;
    margin-top: 20px;
}
.container{
    height: 600;
    padding: 60px 0;
    background-image: url('image/MarsSunsetCut.svg');
    background-size: cover;
}
.container a{
    float: right;
}
.container h1{
    text-align: center;
}
.container input[type="text"] {
    display: block;
    width: 200px;
    margin: 10px 0;
    padding: 10px 15px;
    background: #904212;
    border: 1px solid #904212;
    border-radius: 5px;
    color: rgb(77, 53, 5);
    cursor: pointer;
    font: medium;

}
.container button{
    display: block;
    width: 100px;
    margin: 10px 0;
    padding: 10px 15px;
    background: #904212;
    border: 1px solid #904212;
    border-radius: 5px;
    color: red;
    cursor: pointer;
    float: inline-end;
    animation-name: marte;
    animation-duration: 10s;
    position: relative;
    overflow: hidden;

}
/*animacion*/
@keyframes marte {
    from {background-color: red;}
    to {background-color: rgb(56, 32, 178);}
}






/*mobil*/
@media only screen and (max-width: 750px){
    .portafolio .galeria .fotos{
        width: 400px;
    }
    .section{
        width: 100px;
        margin-top: 0;
    }
    .boton{
        display: block;
    }
    .navbar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: rgba(129, 51, 34, 0.961);
        margin-top: -900px;
        transition: all 0.5s ease;
    }
    .mobil{
        margin-top: 0px;
    }
    .nav-links li{
        margin: 30px auto;
    }
}